@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button onclick="callApi()">Call Api</button>

<button onclick="signOut()">signOut</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.6-beta.1/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>