@{
    ViewData["Title"] = "Privacy Implicit Flow";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<button onclick="extractTokens()">extractTokens</button>


<script src="~/JavaScriptClient-ImplicitFlow/sign-in-callback.js" asp-append-version="true"></script>
